# Pandas: Tabular Data in Python

## Objectives

* Create `Series` and `DataFrame` objects from Python data types. 
* Create `DataFrame` objects from files.
* Index and slice `pandas` objects.
* Aggregate data in `DataFrame`s.
* Join multiple `DataFrame` objects.

## What is Pandas?

A Python library providing data structures and data analysis tools for tabular data of many types. Think of a `DataFrame` like a table in SQL. 

We will use this pretty much every day from here on out. So be sure to complete the assignment, and even do it again if you aren't feeling comfortable.

## Benefits

  * Efficient storage and processing of data.
  * Includes many built-in functions for data transformation, aggregations, and plotting.
  * Great for exploratory work.

## Not so greats

  * Does not scale terribly well to VERY large datasets.

## Documentation:

The documentation for pandas is here:

  * http://pandas.pydata.org/pandas-docs/stable/index.html
  
  
But we suggest using this cheetsheet as you go:

  * https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf


Particularly important reads (eventually) are:

  * [Indexing and Selecting](https://pandas.pydata.org/pandas-docs/stable/indexing.html)
  * [Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-mi-slicers)
  * [Group-by](https://pandas.pydata.org/pandas-docs/stable/groupby.html)

## Standard Imports

In [ ]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')

## Numpy: A Quick Primer

`pandas` is built out of data types from `numpy` a lower level library.

The basic object in `numpy` is an `array`.

In [ ]:
x = np.array([0, 1, 2, 3, 4, 5])
x

Arrays can be processed very efficiently.

In [ ]:
x.sum()  # <-- As efficient as possible way to sum these numbers in python.

Arrays can be multi-dimensional.  A **two-dimensional array** is called a **matrix**.

In [ ]:
M = np.array([
    [0, 1, 2],
    [1, 2, 3],
    [2, 3, 4],
    [5, 6, 7]
])

M

In [ ]:
print(x.shape)
print(M.shape)

## Adding index and a label to an array

The most basic datatype in pandas is the 'series'. It's like a vector array, but with dressing.

In [ ]:
heights = np.array([34, 35, 36, 37, 38])
student_heights = pd.Series(heights)
student_heights

The numpy array is still in there. Easily accessible with '.values'.

In [ ]:
student_heights.values

The '0,1,2,3,4' part is called the index. If you don't set the index it's '0,1,2,3' by default.

You can access it with '.index'

In [ ]:
student_heights.index

Notice it stores the index as a [iterable](https://www.programiz.com/python-programming/iterator).

In [ ]:
type(student_heights.index)

In [ ]:
list(student_heights.index)

We could manually change it

In [ ]:
student_heights.index = ["Tomas", "Angel", "Stacy", "Michaela", "Haden"]

In [ ]:
student_heights

#### So what?

So, now we can use __words__ to access items in the series. Not unlike a dictionary.

In [ ]:
student_heights['Michaela']

But unlike a dictionary, the series still has an order.

In [ ]:
student_heights[2]

Also unlike a dictionary, we get the numpy methods for free. Plus a few more.

In [ ]:
student_heights.mean()

You can see the function parameters by typing 
```python
pd.Series()
```
putting your cursor in between those '()' and hitting 'shift+tab'.

Try it!

In [ ]:
#Type pd.Series() here:

### Question:

What are the parameters of pd.Series()?

In [ ]:
# write here:

<p>(Please type SOME actual answer before checking the solution. Even if you have NO IDEA. Just guess. It's good for you.)<p/>


<details><summary>Solution
</summary>

```python
> help(pd.Series)       (OR use the 'shift+tab' command)

Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```
</details>

### Question:

> PLEASE, NEVER EVER EVER COPY-PASTE WHILE DOING THESE QUESTIONS. OR ITS WRITER WILL HAUNT YOU. (AKA you won't learn to code it from memory. And in three weeks you'll realize you don't know it. We've seen it time and time again. It's worth it.) Make a second window if you need to copy code verbatum. Please.

> For variables you've defined or loaded use 'tab completion.' For example:
>
>
> Below type 'bra' + tab and watch the remainder populate. It can be hard to remember but it REALLY HELPS.

Make a series 'brag_vow' with index 'i am a numpy champ'. And values 'So Pandas here I come".

```python 

print(brag_vow)

I            So
am       Pandas
a          here
numpy         I
champ      come
dtype: object
```

In [ ]:
# write here:

<p>(Please type SOME actual answer before checking the solution. Even if you have NO IDEA. Just guess. It's good for you.)<p/>


<details><summary>Solution
</summary>

```python
brag_vow = pd.Series(data=["So", "Pandas", "here", "I", "come"], index=["I", "am", "a", "numpy", "champ"])
brag_vow
```
</details>

### Question:

return the last three elements of 'brag_vow'

```python 
a          here
numpy         I
champ      come
dtype: object
```

In [ ]:
# write here:

<p>(Please type SOME actual answer before checking the solution. Even if you have NO IDEA. Just guess. It's good for you.)<p/>


<details><summary>Solution
</summary>

```python
brag_vow[2:]
```
</details>

### Question:

Please return the elements correlating only with index 'I a champ'. Do not use numerical index.

```python 
I          So
a        here
champ    come
dtype: object
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
brag_vow[['I', 'a', 'champ']]
```
</details>

### Question:

From student_heights, please return the students with even heights. Use boolean indexing.

(if you don't know what 'boolean indexing' is, please refer to the numpy assignment. You'll need it.)

```python 
Tomas    34
Stacy    36
Haden    38
dtype: int64
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
student_heights[student_heights%2==0]
```
</details>

### Question:

Return the 'vow' from brag_vow.

```python 
array(['So', 'Pandas', 'here', 'I', 'come'], dtype=object)
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
brag_vow.values
```
</details>

### Question:

Return the 'brag' from brag_vow.

```python 
Index(['I', 'am', 'a', 'numpy', 'champ'], dtype='object')
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
brag_vow.index
```
</details>

# Series names

Series have something called 'names'

In [ ]:
student_grades = pd.Series([45,56,78,89,90], 
                           index=['Tomas', 'Angel', 'Stacy', 'Michaela', 'Haden'], 
                           name='grades')

In [ ]:
student_grades

See the name there? Great.

That's all. We'll use it later.

### Creating DataFrames from Python Objects

So we know how to use series. Awesome.

But perhaps you noticed we have two series: student_heights and student_grades. Each has the same students in the index. Wouldn't it be cool if we could access all the student data at once?

To do this, we use a dataframe.

In [ ]:
students = pd.DataFrame({'grade':student_grades, 'height':student_heights})
students

There are AT LEAST two ways to think of a dataframe.

One is as a mulitple series with matching index. The other is as a numpy array with explicitly labeled columns and rows.

The truth is, they're BOTH.

In [ ]:
# numpy array:
students.values

In [ ]:
# pandas series:
students['grade']

We could also create DataFrames from numpy arrays or list-of-lists with provided labels and indices. The `columns=` parameter specifies the names for the columns; the `index=` specifies the names for the rows.

In [ ]:
pd.DataFrame(
    data = [[1, 2, 3], 
            [4, 5, 6]], 
    columns=['a', 'b', 'c'], 
    index=['foo', 'bar'])

You might notice in pandas that, unlike python, there are MANY ways to do any one thing. This makes learning harder. But here we go anyways.

### Question:

Make a dataframe 'classrooms' that contains this

```python 
> print(classrooms)

         chairs  projectors
gym           0           1
history       2           3
math          4           5
english       6           7
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
classrooms = pd.DataFrame(data=np.arange(8).reshape((4,2)),
                          columns=['chairs', 'projectors'],
                          index=['gym','history','math','english'])

# or

classrooms = pd.DataFrame(data=np.array([[0, 1],
                                         [2, 3],
                                         [4, 5],
                                         [6, 7]]),
                          columns=['chairs', 'projectors'],
                          index=['gym','history','math','english'])
```
</details>

### Question:

Make a series 'chairs' like so. 

```python 
gym        0
history    2
math       4
english    6
Name: chairs, dtype: int64
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
chairs = pd.Series(data=range(0,8,2), index=['gym','history','math','english'], name='chairs')
chairs
```
</details>

### Question:

Make a series 'projectors' like so. 

```python 
gym        1
history    3
math       5
english    7
Name: projectors, dtype: int64
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
projectors = pd.Series(data=range(1,8,2), index=['gym','history','math','english'], name='projectors')
projectors
```
</details>

### Question:

Make the 'classrooms' dataframe again, but this time by using the 'chairs' and 'projectors' series.

```python 
> print(classrooms)

         chairs  projectors
gym           0           1
history       2           3
math          4           5
english       6           7
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
classrooms = pd.DataFrame(data={'chairs':chairs, 'projectors':projectors})
classrooms
```
</details>

### Question:

Create a dataframe 'down_up' with two columns: `decreasing` and `increasing`, that have the numbers 1-10 in increasing and decreasing orders. The index can be anything.

```python
> print(down_up)

   decreasing  increasing
0          10           1
1           9           2
2           8           3
3           7           4
4           6           5
5           5           6
6           4           7
7           3           8
8           2           9
9           1          10
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
down_up = pd.DataFrame(data={'decreasing': range(10,0,-1), 'increasing':range(1,11)})
down_up
```
Those ranges are tricky aren't they?
</details>

You can also put a Series into a DataFrame as long as you have matching index.

## Modifying dataframes

Dataframes are VERY much like numpy arrays with added columns and index.

But unlike arrays (which have a fixed size), we CAN add columns to a dataframe!

In [ ]:
students['was_late'] = [True, False, True, False, False]
students

We can also do this by adding an array.

In [ ]:
students['was_late'] = np.array([True, False, True, False, False])
students

But the array must either have a shape of (n, ) or (1, n). Not (n, 1). Which kinda makes sense, because that's trying to fit row into a column.

In [ ]:
students['was_late'] = np.array([True, False, True, False, False]).reshape(-1,1)
students

```python
# this would return an error:
students['was_late'] = np.array([True, False, True, False, False]).reshape(1,-1)
students
```

So let's get going.

### Question:

Add a column 'top_crush' to 'students'. Which is the name that student has a crush on. (make it up!)

```python
> print(students)

          grade  height  was_late     top_crush
Tomas        45      34      True         Angel
Angel        56      35     False         Haden
Stacy        78      36      True      Michaela
Michaela     89      37     False         Tomas
Haden        90      38     False  Edgar A. Poe
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['top_crush'] = ['Angel', 'Haden', 'Michaela', 'Tomas', 'Edgar A. Poe']
print(students)
```

Alas, love is cruel.
</details>

## Broadcasting

Again, like a numpy array, we can also use broadcasting on a series. Like so.

In [ ]:
students['grade']>75

So to make a new column called 'above_75_percent' we would write

In [ ]:
students['above_75_percent'] = students['grade']>75
students

This is powerful. You might not feel it yet. But it is.

### Question:

Add a column 'taller_than_35' to students. This can be done using broadcasting on an existing series.

```python
> print(students[['grade', 'height', 'taller_than_35']])

          grade  height  taller_than_35
Tomas        45      34           False
Angel        56      35           False
Stacy        78      36            True
Michaela     89      37            True
Haden        90      38            True
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['taller_than_35'] = students['height']>35
print(students[['grade', 'height', 'taller_than_35']])
```
</details>

But buyer beware. The elements in the assignment above are matched **by index**, which is a common pattern in Pandas.

## Index tricks

Let's take a deeper look at this.

In [ ]:
df = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6]], 
    columns=['a', 'b', 'c'], 
    index=['foo', 'bar'])

In [ ]:
# INDEX IS BACKWARDS
df['d'] = pd.Series([4, 5], index=['bar', 'foo'])
df

If no indices match, missing values are filled into the unmatched spaces.

In [ ]:
df['d'] = pd.Series([4, 5], index=['bar', 'baz'])
df

We can also put a list/vector into a DataFrame, and here there is no index, so the column is inserted in order.

In [ ]:
df['e'] = [1, 2]
df

So be careful if you're using a series:

Because without the index, the dataframe just says 'there are no matching rows, silly!' and inserts all NaNs. ('Nan' stands for 'Not a Number')

In [ ]:
students['was_late'] = pd.Series([True, False, True, False, False])
students

Adding the index:

In [ ]:
students['was_late'] = pd.Series([True, False, True, False, False], index=students.index)
students

Column insertion, both with and without specifying the index, is super useful.

### Question:

Create a dataframe 'numbers' that has one column `increasing`. The `increasing` column contains the numbers 1-50 in increasing order. Then insert a columns called `evens`, which has the even numbers in increasing order at the same locations as in `increasing`, but with missing values in the other locations.

```python
> print(numbers)

    increasing  evens
0            0    0.0
1            1    NaN
2            2    2.0
3            3    NaN
4            4    4.0
5            5    NaN
6            6    6.0
7            7    NaN
8            8    8.0
9            9    NaN
10          10   10.0
.            .      .
.            .      .
.            .      .

```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
numbers = pd.DataFrame([[n] for n in range(50)], columns=['increasing'])
numbers['evens'] = pd.Series([n for n in range(50) if n%2==0], index=[n for n in range(50) if n%2==0])
print(numbers)

```

</details>

### Question:

We only have information for some students. Please add the following information into a column named 'pickup_time'.  The rest can be NaNs.

Haden = 4,
Tomas = 5,
Stacy = 3


```python
> print(students[['grade', 'height', 'pickup_time']])

          grade  height  pickup_time
Tomas        45      34          5.0
Angel        56      35          NaN
Stacy        78      36          3.0
Michaela     89      37          NaN
Haden        90      38          4.0

```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['pickup_time'] = pd.Series([4,5,3], ['Haden', 'Tomas', 'Stacy'])
print(students[['grade', 'height', 'pickup_time']])
```

</details>

### Question:

We only know about the first three students. Please add the following information into a column named 'pickup_time'.  The rest can be NaNs.

4,5,3


```python
> print(students[['grade', 'height', 'pickup_time']])

          grade  height  pickup_time
Tomas        45      34          4.0
Angel        56      35          5.0
Stacy        78      36          2.0
Michaela     89      37          NaN
Haden        90      38          NaN

```

(NaN is input as np.NaN)

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['pickup_time'] = [4, 5, 2, np.NaN, np.NaN]
print(students[['grade', 'height', 'pickup_time']])
```

</details>

## Loading Data

To get external data into pandas, we first need to know where it is.

We can use 'ls' to do this

In [ ]:
ls

Ah, the data is probably kept in 'data/'

In [ ]:
ls data

Pandas can load a csv, but csvs often are separated by things that ARE NOT COMMAS. So let's look at the first line INSIDE playgolf.csv

In [ ]:
# '!' means we're running a bash command
!head -1 data/playgolf.csv

In [ ]:
!head -1 data/playgolf.csv

### Load data from csv

A csv (comma separated values) is a file format used to store data separated by a **delimiter**.

A delimiter is the **single character** that divides the data elements in a file.  A comma is a traditional choice of delimiter but a relatively poor one because they are often part of elements themselves.  Better choices are pipe (`|`) and tab (`\t`).

In a bizarre twist of history, comma separated files are often separated by different characters than commas.  There is no consistent convention of using a different file extension, but some people use `.psv` or `.tsv`.

Pandas has a `read_csv` function that loads a delimited file into a `DataFrame`.

In [ ]:
golf_df = pd.read_csv('data/playgolf.csv', delimiter=',')

In [ ]:
golf_df

### Question:

load in hospital-costs.csv as 'hospital_costs'.

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
!head -1 data/hospital-costs.csv

hospital_costs = pd.read_csv('data/hospital-costs.csv')
hospital_costs
```

</details>

### Question:

Load in winequality-white.csv as 'wine_quality_white'.

In [ ]:
ls data

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
!head -5 data/winequality-white.csv # to see what delimiter

wine_quality_white = pd.read_csv('data/winequality-white.csv', delimiter=';')
wine_quality_white
```

</details>

## Extracting information from DataFrames

#### Basic Row and Column Indexing

As we have seen, individual columns may be extracted from a `DataFrame` as a `Series` using the usual `__getitem__` style indexing using the name of the column.  

This is similar to how we index a dictionary.

In [ ]:
golf_df['Temperature']

We can extract individual values by taking the series out of the matrix, then treating it like a list.

In [ ]:
golf_df['Temperature'][0]

We can extract multiple rows at once.

In [ ]:
golf_df[['Temperature', 'Humidity']]

If you try to index with a slice, however, it will only operate on the rows.

In [ ]:
short_df = golf_df[0:5]
short_df

### Question:

Look at hospital_costs Facility Id, Year, Discharges, and Mean Charge columns side by side in a dataframe.

```python
        Facility Id  Year  Discharges  Mean Charge
0               324  2011           3     361289.0
1               324  2011           1     102190.0
2               324  2011           6      14172.0
3               324  2011           1       8833.0
4               324  2011           1       5264.0
...             ...   ...         ...          ...
383488         1153  2009           5      13572.0
383489         1153  2009           4       8323.0
383490         1153  2009           5       7746.0
383491         1153  2009           1       7892.0
383492         1153  2009           3       1069.0
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
print(hospital_costs[['Facility Id', 'Year', 'Discharges', 'Mean Charge']])
```

</details>

## Boolean / Logical Indexing

We can also index into a `DataFrame` using a list of **booleans** (i.e. `True` and `False` values). This will also operate on the rows.

In [ ]:
# Takes rows 0, 2, and 4.
short_df[[True, False, True, False, True]]

Which doesn't seem that useful...except we can create a boolean `Series` by using comparisons on a Series

In [ ]:
# A series of booleans.
golf_df['Temperature'] > 70

And them use the result to grab rows of the dataframe.

In [ ]:
golf_df[golf_df['Temperature'] > 70][["Date", "Windy"]]

This is essentially applying a logical condition to select rows from a `DataFrame`.  This is one of the most common patterns in Pandas.

To review: if you index a `DataFrame` with a **single value** or a **list of values**, it selects the **columns**.

If you use a **slice** or **sequence of booleans**, it selects the **rows**.

### Question:

Select all of the days in which the humidity is larger than 90 from 'golf_df'.

```python
     Date Outlook  Temperature  Humidity  Windy      Result
3  7/4/14    rain           70        96  False        Play
7  7/8/14   sunny           72        95  False  Don't Play
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
golf_df[golf_df['Humidity']>90]
```

</details>

## logical aside

As a reminder, logical operators with arrays AND series look like

In [ ]:
(golf_df['Humidity']>90) | (golf_df['Outlook']=="Sunny") # '|' is 'OR'

In [ ]:
(golf_df['Result']=="Don't Play") & golf_df['Windy'] # '&' is 'AND'

### Question:

Select all of the rainy days in which the temperature is less than 70 degrees.

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
golf_df[(golf_df['Temperature'] <70) & (golf_df['Outlook'] == 'rain')]
                                     
```

</details>

### Question:

Select the day and Result of the rainy days in which the humidity is larger than 90 from this data frame.

```python
     Date Result
3  7/4/14   Play
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
golf_df[(golf_df['Outlook']=="rain") & (golf_df['Humidity']>90)][['Date','Result']]
```

</details>

## Double Indexing

Suppose we want to set the value of the `Windy` column where `Temperature > 70` to True (because, um, science).

In [ ]:
golf_df[golf_df['Temperature'] > 70]["Windy"] = True

What?

In [ ]:
golf_df[golf_df['Temperature'] > 70]["Windy"]

Huh, they're still false. Apparently that error actually meant something.

This pattern is called double indexing, and it is an antipattern!  Pandas can not guarantee that assignments will hold when you index twice!

To fix these issues, we need to study the other indexing options that Pandas provides.

#### Other Indexers: .loc and .iloc

There are a few other indexing objects in pandas, both of which take a value to choose rows and a value to choose columns.

  - `df.iloc` is **positionally based**.  This indexer accepts integers and integer slices, and essentially treats the data frame as if it were a simple matrix.
  - `df.loc` is **label based**.  This indexer works with row and column indices / labels.

In [ ]:
df = pd.DataFrame({
    'some_integers': [0, 0, 1, 1, 2, 2],
    'some_strings': ['x', 'y', 'z', 'x', 'y', 'z'],
    'some_booleans': [0, 0, 1, 0, 1, 1]},
    index=['a', 'b', 'c', 'd', 'e', 'f']
)
df

In [ ]:
df.iloc[2:4, 0:2]

In [ ]:
df.loc['b':'e', ['some_integers', 'some_booleans']]

### Question:

Select rows a,b,c,f of df.

```python
   some_integers some_strings  some_booleans
a              0            x              0
b              0            y              0
c              1            z              1
f              2            z              1
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
df.loc[['a', 'b', 'c', 'f']]
```

</details>

### Question:

Select the 0th, 1st, and 5th row of df.

```python
   some_integers some_strings  some_booleans
a              0            x              0
b              0            y              0
f              2            z              1
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
df.iloc[[0, 1, 5]]
```

</details>

### Question:

Select the 0th and 4th students.

```python
       grade  height was_late     top_crush   ...
Tomas     45      34      NaN         Angel
Haden     90      38      NaN  Edgar A. Poe
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students.iloc[[0,4]]
```

</details>

### Question:

Select Haden, Angel and Micaela, in that order.

```python
          grade  height was_late     top_crush
Haden        90      38      NaN  Edgar A. Poe
Angel        56      35      NaN         Haden
Michaela     89      37      NaN         Tomas
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students.loc[['Haden', 'Angel', 'Michaela']]
```

</details>

## Mixed Indexing

So what do we do if we want to get the rows by position, and get the columns by label?  I.e. if we have a use for **mixed indexing**.

```python
# Mixed indexing with iloc: will not work.
>>> df.iloc[2:4, ['some_integers', 'some_booleans']]

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-337-dcc694afee25> in <module>
      1 # Mixed indexing with iloc: will not work.
----> 2 df.iloc[2:4, ['some_integers', 'some_booleans']]
```

Doing mixed indexing in modern pandas is more explicit, less magic.  You need to use the `df.index` and `df.columns` attributes to explicitly turn positions into labels.

#### Rows by position, Columns by name

In [ ]:
df.index[2:4]

In [ ]:
df.loc[df.index[2:4], ['some_integers', 'some_booleans']]

#### Rows by name, Columns by position

In [ ]:
df.columns[[0, 2]]

In [ ]:
df.loc[['c', 'd'], df.columns[[0, 2]]]

### Question:

Use mixed indexing to get the 0th, 2nd and 4th row of student's top_crush and pickup_time. (don't use the names explicitly)

```python
          top_crush  pickup_time
Tomas         Angel          4.0
Stacy      Michaela          2.0
Haden  Edgar A. Poe          NaN
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students.loc[students.index[[0,2,4]], ['top_crush', 'pickup_time']]
```

</details>

### Question:

Use mixed indexing to get the 0th, 2nd, 3th, and 0th column of Stacy and Haden. (don't use the column names explicitly)

```python
       grade  was_late  above_75_percent  grade
Stacy     78      True              True     78
Haden     90     False              True     90
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students.loc[['Stacy', 'Haden'], students.columns[[0, 2, 3, 0]]]
```

</details>

## Transforming data

Arithmetic operations apply to `Series` element by element. (like arrays)

In [ ]:
# Yes, this makes no sense.
golf_df["TempHumid"] = golf_df['Temperature'] + golf_df['Humidity']

In [ ]:
golf_df.head()

In [ ]:
# More Usefully

# Heat index formula taken from wikipedia: 
#    https://en.wikipedia.org/wiki/Heat_index
temp = golf_df['Temperature']
humid = golf_df['Humidity']
golf_df['HeatIndex'] = (-42.37 + 2.05*temp + 10.14*humid
                        - 0.225*temp*humid
                        - 6.84e-3*temp**2 
                        - 5.482e-2*humid**2
                        + 1.23e-3*temp**2*humid
                        + 8.53e-4*temp*humid**2
                        - 1.99e-6*temp**2*humid**2
)
golf_df[['Temperature', 'Humidity', 'HeatIndex']].head()

### Question:

Make a new column 'smarty_pants' that returns true if a student's grade is greater than 2.2 times their height. (tough school)

```python
>>> print(students[['grade','height', 'smarty_pants']])
          grade  height  smarty_pants
Tomas        45      34         False
Angel        56      35         False
Stacy        78      36         False
Michaela     89      37          True
Haden        90      38          True
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['smarty_pants'] = students['grade']>students['height']*2.2
print(students[['grade','height', 'smarty_pants']])
```

</details>

### Question:

Make a new column 'percent fixed acidity' that finds how much of the total acidity is fixed in wine_quality_white.

```python
>>> print(wine_quality_white[['fixed acidity', 'volatile acidity', 'citric acid', 'percent fixed acidity']])
      fixed acidity  volatile acidity  citric acid  percent fixed acidity
0               7.0              0.27         0.36               0.917431
1               6.3              0.30         0.34               0.907781
2               8.1              0.28         0.40               0.922551
3               7.2              0.23         0.32               0.929032
4               7.2              0.23         0.32               0.929032
...             ...               ...          ...                    ...
4893            6.2              0.21         0.29               0.925373
4894            6.6              0.32         0.36               0.906593
4895            6.5              0.24         0.19               0.937951
4896            5.5              0.29         0.30               0.903120
4897            6.0              0.21         0.38               0.910470
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
wine_quality_white['percent fixed acidity'] = wine_quality_white['fixed acidity'] / 
                                                 (wine_quality_white['fixed acidity'] + 
                                                  wine_quality_white['volatile acidity'] + 
                                                  wine_quality_white['citric acid'])
print(wine_quality_white[['fixed acidity', 'volatile acidity', 'citric acid', 'percent fixed acidity']])
```
(you still got it right if you didn't include citric acid)
</details>

## Apply

We can create a new Series by applying functions to an existing Series.

Lets say we wanted to get the day of the month out of the 'date' column.

In [ ]:
golf_df

In [ ]:
golf_df['Date'].apply(lambda x: x.split('/')[1])

Apply takes each item from the 'date' series and *applies* the function to it. The outputs are arranged in a array of the same shape and index.

So we can save it like so

In [ ]:
golf_df['day'] = golf_df['Date'].apply(lambda x: x.split('/')[1])
golf_df

lambda is just a way of making a function. We can also apply a function we've already made.

In [ ]:
def get_day(x):
    return x.split('/')[1]

golf_df['Date'].apply(get_day)

We can also apply a function to each row of the DataFrame by specifying the column and axis equals 1.

In [ ]:
golf_df.apply(lambda x: x['Temperature'] + x['Humidity'], axis=1)

(This method is slower than using plain ol' arithmetics though)

In general, `.apply` is useful for mapping complex functions across your data.

### Question:

Make a new column 'report_card' that returns 'FAILURE' if a student's grade is below 60%, and the student's grade if the grade is not below 60%. (tough school)

```python
>>> print(students[['grade','height', 'report_card']])
          grade  height report_card
Tomas        45      34     FAILURE
Angel        56      35     FAILURE
Stacy        78      36          78
Michaela     89      37          89
Haden        90      38          90
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['report_card'] = students['grade'].apply(lambda x: x if x>=60 else 'FAILURE')
print(students[['grade','height', 'report_card']])
```

</details>

### Question:

Make a new column 'even_height' that returns 'Even' if their height is even, and 'odd' if it isn't.

```python
>>> print(students[['grade','height', 'even_height']])
          grade  height even_height
Tomas        45      34        Even
Angel        56      35         Odd
Stacy        78      36        Even
Michaela     89      37         Odd
Haden        90      38        Even
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
students['report_card'] = students['grade'].apply(lambda x: x if x>=60 else 'FAILURE')
print(students[['grade','height', 'even_height']])

#OR

students['report_card'] = np.array(["Even", "Odd"])[students['height']%2]
print(students[['grade','height', 'even_height']])
# but that doesn't use apply, but is a faster method to consider for later (using our NUMPY skills!)
```

</details>

## Aggregating data

There exists MANY methods availible to us within each dataframe. Some of them are aggregators, just like in numpy.

In [ ]:
golf_df.count() # this counts the items in the row that are not None

In [ ]:
golf_df.count(axis=1)

In [ ]:
golf_df.mean()

In [ ]:
golf_df.sum()

In [ ]:
golf_df.aggregate(min)

But what if we want to figure ot the minimum temperature on overcast vs rainy vs sunny days? 

We use a groupby statement! Like from sql!

In [ ]:
golf_df.groupby('Outlook').aggregate(min)

This took the minimum of each __Outlook__ of *every* other column. And notice that __Outlook__ is now the index! 

Lets just look at what we care about, the temperature.

In [ ]:
golf_df.groupby('Outlook').aggregate(min)[['Temperature']]

### Question:

Return the average weather data for each Outlook.

```python
          Temperature  Humidity  Windy  TempHumid  HeatIndex
Outlook                                                     
overcast         75.0      77.0    0.5      152.0  79.571853
rain             69.8      81.2    0.4      151.0  70.129762
sunny            76.2      82.0    0.4      158.2  79.469540
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
print(golf_df.groupby('Outlook').mean())
```

</details>

### Question:

Return the max temperature on windy and non-windy days.

```python
Windy
False    85
True     80
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
print(golf_df.groupby('Windy').max()['Temperature'])
```

</details>

Note that groupby is a big topic; more documentation is at http://pandas.pydata.org/pandas-docs/stable/groupby.html

# Some Extra, Useful Stuff

## Various Summaries

The `info` method is useful for checking column types and quickly seeing if you have NaN in the data.

In [ ]:
golf_df.info()

The `describe` method will give you a quick sense of the quartiles and distribution.

In [ ]:
golf_df.describe()

### Question:

Which column in wine_quality_white has the biggest standard deviation?

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
wine_quality_white.describe()

# then look visually to see it's 'total sulfure dioxide'
```

</details>

### Question:

How much memory does wine_quality_white take in pandas?

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
wine_quality_white.info()

# then look at the verrrry bottom. Answers may very. Mine says 459.3 KB.
```

</details>

### Question:

Which columns are integers in wine_quality_white?

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
wine_quality_white.info()

# then look at the last column and you'll see quality is the last one
```

</details>

### Question:

Which column has the lowest 75th percentile? 

(The 75th percentile is the datapoint that is higher than 75% of the data in that group)

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
wine_quality_white.describe()

# then look at the 75% row. Clorides have the lowest value.
```

</details>

## Frequency Tables

The `crosstab` function will allow us to quickly take a look at the frequency count between two columns.

In [ ]:
pd.crosstab(golf_df['Outlook'], golf_df['Result'])

## DateTimes

We can turn strings of dates into datetime types by using Pandas' `to_datetime` function.

In [ ]:
golf_df['DateTime'] = pd.to_datetime(golf_df['Date'])
golf_df['DateTime']

Though `day` and `dayofweek` look the same, they are NOT. Look closely to see the difference.

In [ ]:
golf_df['DateTime'].dt.day

In [ ]:
golf_df['DateTime'].dt.dayofweek

In [ ]:
golf_df['DateTime'].dt.month

In [ ]:
golf_df['DateTime'][0] - golf_df['DateTime'][5]

In [ ]:
golf_df['DateTime'] - golf_df['DateTime']

There is a HOST of stuff you can do with datetimes.

### Question:

Return the latest day of the week that we played AND didn't play in. 
(6 means end of week)

```python
Result
Don't Play    6
Play          6
Name: dayofweek, dtype: int64
```

In [ ]:
# write here:

<details><summary>Solution
</summary>

```python
golf_df['Datetime'] = pd.to_datetime(golf_df['Date'])
golf_df["dayofweek"] = golf_df['Datetime'].dt.dayofweek
print(golf_df.groupby('Result').max()["dayofweek"])
```

</details>

## Creating a New Row Index

We can also set the index to be an existing column(s).

In [ ]:
date_df = golf_df.set_index('DateTime')
date_df

In [ ]:
date_df.index

If we have an index of datetime types, we can use the `resample` method to quickly look at time based aggregations.

In [ ]:
# Weekly means.
date_df.resample('W').mean()

This will be especially useful when we work with time series.

## Writing Data

We can write data into a csv file.

```python 
>>> golf_df.to_csv('new_playgolf.csv', index=False)

>>> !cat new_playgolf.csv 

Date,Outlook,Temperature,Humidity,Windy,Result,TempHumid,HeatIndex,day,DateTime
7/1/14,sunny,85,85,False,Don't Play,170,98.0046312500001,1,2014-07-01
7/2/14,sunny,80,90,True,Don't Play,170,84.47439999999996,2,2014-07-02
7/3/14,overcast,83,78,False,Play,161,89.66991075999985,3,2014-07-03
7/4/14,rain,70,96,False,Play,166,62.84702400000019,4,2014-07-04
7/5/14,rain,68,80,False,Play,148,69.08977600000006,5,2014-07-05
7/6/14,rain,65,70,True,Don't Play,135,73.66802499999999,6,2014-07-06
7/7/14,overcast,64,65,True,Play,129,75.9871160000001,7,2014-07-07
7/8/14,sunny,72,95,False,Don't Play,167,66.2473960000001,8,2014-07-08
7/9/14,sunny,69,70,False,Play,139,72.84364900000003,9,2014-07-09
7/10/14,rain,75,80,False,Play,155,74.55700000000012,10,2014-07-10
7/11/14,sunny,75,70,True,Play,145,75.777625,11,2014-07-11
7/12/14,overcast,72,90,True,Play,162,68.10694399999996,12,2014-07-12
7/13/14,overcast,81,75,False,Play,156,84.52344124999973,13,2014-07-13
7/14/14,rain,71,80,True,Don't Play,151,70.48698400000002,14,2014-07-14
```

## Exploratory Data Analysis

### Question:

Now lets put these skills together in the way we would typically explore data. This is called EDA. Exploratory Data Analysis.

Open chess_games.csv and answer these questions (use markdown headers to denote which question you are answering) 

1. how many rows of data do you have?
1. What does each row represent?
1. Who won more, white or black?
1. How many moves per game on average?
1. What was the most likely 'first move'?
1. How many games end in checkmate? (the alternative is to surrender or timeout)
1. What percent of games is that?
1. How long was the average game?
1. How long was the average game that white won? How long was the average game that was a draw?
1. What is an increment code?
1. Ask three of your own questions *in writing*. Then answer them. (we write our questions because if you come back later you'll forget what question you were answering)

write your question after the '####':

#### 1: [YOUR QUESTION TITLE HERE]

In [ ]:
#  how many rows of data do you have?
# write code here:

<details><summary>Solution 1
</summary>

```python
chess = pd.read_csv('data/chess_games.csv')
chess.count()
```

</details>

write your question after the '####':

####

In [ ]:
# What does each row represent?
# write code here:

<details><summary>Solution 2
</summary>

```chess['moves']``` shows that we have multiple moves per row. So probably games? Ah, and theres a winner in ```chess['winner']```. Games.
    
HINT: ```chess.T``` switches rows and columns. (it stands for transpose). Using it allows us to see more of the columns in one look.
   
```python

```

</details>

write your question after the '####':

####

In [ ]:
# Who won more, white or black?
# write code here:

<details><summary>Solution 3
</summary>

   
```python
chess['winner'].value_counts()

```

</details>

write your question after the '####':

####

In [ ]:
# How many moves per game on average?
# write code here:

<details><summary>Solution 4
</summary>

```chess.T``` allows us to see more of the rows.

```chess['moves']``` shows that we have multiple moves per row. So probably games? Ah, and theres a winner in ```chess['winner']```. Games.
    
```python

>>> chess.moves.apply(lambda x: x.split(' ')) # shows the items per row in a list

0        [d4, d5, c4, c6, cxd5, e6, dxe6, fxe6, Nf3, Bb...
1        [d4, Nc6, e4, e5, f4, f6, dxe5, fxe5, fxe5, Nx...
2        [e4, e5, d3, d6, Be3, c6, Be2, b5, Nd2, a5, a4...
3        [d4, d5, Nf3, Bf5, Nc3, Nf6, Bf4, Ng4, e3, Nc6...
4        [e4, e5, Nf3, d6, d4, Nc6, d5, Nb4, a3, Na6, N...
                               ...                        

>>> chess.moves.apply(lambda x: len(x.split(' '))) # shows the length per list

0         13
1         16
2         61
3         61
4         95

>>> chess.moves.apply(lambda x: len(x.split(' '))).mean() # take the mean
60.46599860404826
```

</details>

write your question after the '####':

####

In [ ]:
# What is the most common opening move?
# write code here:

<details><summary>Solution 5
</summary>

```python
chess.moves.apply(lambda x: x.split(' ')[0]).value_counts()
```

</details>

write your question after the '####':

####

In [ ]:
# How many games end in checkmate?
# write code here:

<details><summary>Solution 6
</summary>


```python
>>> chess.moves.apply(lambda x: x.split(' ')[-1]).value_counts()

Qxf7#    176
Qg7#     170
Qg2#     157
Qxg2#    141
Qxg7#    137
        ... 
Qhh4#      1
Bxg6#      1
Rxa2+      1
Qac8#      1
Ngxe3      1

# hmm. Now I had to go look up what '#' means. Ok it means Checkmate. So now I grab the end of each string.

>>> chess.moves.apply(lambda x: x.split(' ')[-1][-1]).value_counts()

#    6325
+    2764
5    1890
4    1806
6    1599
3    1466
7    1185
2    1101
1     879
8     844
Q     130
O      62
R       4
N       2
B       1

```

</details>

In [ ]:
# What percent of games end in checkmate?
# write code here:

<details><summary>Solution 7
</summary>


```python
>>> chess.moves.apply(lambda x: x.split(' ')[-1][-1]).value_counts()/len(chess)

#    0.315336
+    0.137800
5    0.094227
4    0.090039
6    0.079719
3    0.073088
7    0.059079
2    0.054891
1    0.043823
8    0.042078
Q    0.006481
O    0.003091
R    0.000199
N    0.000100
B    0.000050
Name: moves, dtype: float64
```
> 31% of games ended with checkmate, and 13% of games ended with a normal 'check'
</details>

In [ ]:
# How long was the average game?
# write code here:

<details><summary>Solution 8
</summary>

```python
>>> chess['last_move_at'] - chess['created_at']

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...   
20053    321734.0
20054    744219.0
20055    172834.0
20056    946699.0
20057    736699.0
Length: 20058, dtype: float64

# hmmm. This gives a bunch of... nanoseconds? miliseconds?"

# I netter google 'how to go from milliseconds to pandas datetime.'
# I click stack overflow, The first suggestion (and always a good bet).
# First answer says pd.to_datetime(df['UNIXTIME'], unit='ms')
# Lets try that.


>>> pd.to_datetime(chess['datetime_created_at'], unit='ms')

0       2017-08-31 20:06:40.000000000
1       2017-08-30 21:53:20.000000000
2       2017-08-30 21:53:20.000000000
3       2017-08-30 16:20:00.000000000
4       2017-08-29 18:06:40.000000000
                     ...             
20053   2017-07-11 16:35:14.342000128
20054   2017-07-10 14:48:09.760000000
20055   2017-07-10 14:44:37.492999936
20056   2017-07-10 14:15:27.019000064
20057   2017-07-09 23:32:32.648999936
Name: datetime_created_at, Length: 20058, dtype: datetime64[ns]

That looks reasonable

>>> chess['datetime_last_move'] = pd.to_datetime(chess['last_move_at'], unit='ms')
>>> chess['datetime_created_at'] = pd.to_datetime(chess['created_at'], unit='ms')
>>> chess['datetime_last_move'] - chess['datetime_created_at']

0              00:00:00
1              00:00:00
2              00:00:00
3              00:00:00
4              00:00:00
              ...      
20053   00:05:21.734000
20054   00:12:24.219000
20055   00:02:52.834000
20056   00:15:46.699000
20057   00:12:16.699000
Length: 20058, dtype: timedelta64[ns]


>>> (chess['datetime_last_move'] - chess['datetime_created_at']).mean()

Timedelta('0 days 00:14:29.707049')

# looks like the average game is '14 minutes, 30 seconds'

```

</details>

In [ ]:
# How long was the average game that white won? How long was the average game that was a draw?
# write code here:

<details><summary>Solution 9
</summary>


```python
# this one was hard for me because
chess.groupby('winner').mean()
# Doesn't return our column! Bleh!

# but this works
chess[chess['winner']=='white'].mean()

# and so does this
chess['game_ms'] = chess['last_move_at'] - chess['created_at']
pd.to_datetime(chess.groupby('winner').mean()['game_ms'], unit='ms')
```
    
</details>

In [ ]:
# write code here:

In [ ]:
# What is the increment code?

<details><summary> Solution 10
</summary>

google 'increment code chess':

"increment (in seconds) is the amount added after each move."

</details>

Now do your own! Make them headers, in markdown, in writing!

### Question:

Now let's put these skills together AGAIN in the way we would typically explore data. This is called EDA. Exploratory Data Analysis.

Open exo.csv, skim https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html and answer these questions.


This time write your own markdown headers before you answer each question!

1. how many rows of data do you have?
1. What does each row represent?
1. How many planets are confirmed?
1. What is the maximum temperature of the planets?
1. What is the maximum temperature of the stars?
1. What is the distance between the planet and the star?
1. How many planets are in each system?
1. How much does the planet temperatures vary?
1. How much does the star temperatures vary?
1. How many NaNs are in each category?
1. Ask three of your own questions *in writing*. Then answer them. (we write our questions because if you come back later you'll foget what question you were answering)

No solutions provided. You got this.

## Joining DataFrames

We can join DataFrames in a similar way that we join tables to SQL.  In fact, left, right, outer, and inner joins work the same way here.

Lets create a fake DataFrame to join with first.

In [ ]:
mood_df = pd.DataFrame([['overcast', 'sad'], ['rainy', 'sad'], ['sunny', 'happy']],
                       columns=['Weather', 'Mood'])

mood_df

We can do joins using the merge command.

In [ ]:
golf_df.merge(mood_df, how='inner', left_on='Outlook', right_on='Weather')

There are, of course, other options besides `inner`, which you can find in the documentation.

## Concatenating dataframes

This is the equivalent of Unions in SQL, but a little more flexible.

In [ ]:
df1 = pd.DataFrame(
    {'Col3': range(5), 'Col2': range(5), 'Col1': range(5)},
    index=range(0, 5))
df2 = pd.DataFrame(
    {'Col1': range(5), 'Col2': range(5), 'Col4': range(5)},
    index=range(3, 8))

In [ ]:
df1

In [ ]:
df2

#### Vertically

This is like a Union All. The `sort` parameter controls the order of the columns in the output.

In [ ]:
pd.concat([df1, df2], axis=0, join='outer', sort=True)

An `inner` value limits the columns to those in all the inputs.

In [ ]:
pd.concat([df1, df2], axis=0, join='inner', sort=True)

#### Horizontally

This is pretty much a simple join on indices.  While `concat` is capable of doing joins, it is far less flexible.

In [ ]:
pd.concat([df1, df2], axis=1)

**Question:** why do some numbers show up as floats? Why do some numbers not?

For more on joining DataFrames, read https://pandas.pydata.org/pandas-docs/stable/merging.html